/* Ejercicio 11 - Curso de HTML y CSS - OpenBootcamp | @JoeTheorium - Raggio Fernando Andrés */
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    font-size: 2rem;
}

.sidebar {
    background-color: #2b2b2b;
    color: #f0f8ff;
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    gap: 0.6rem;
}

.main {
    flex-grow: 1;
    padding: 1rem;
}

@media (max-width: 640px) {
    body {
        flex-direction: column-reverse;
    }
    .sidebar {
        flex-direction: row;
        justify-content: space-evenly;
    }
}
